%h1  Listing topics
%table
  %tr
    %th Title   
    %th Description   

-  @topics.each do |topic|  
  %tr.="<%= cycle('list-line-odd', 'list-line-even')%>">
    <td><%= link_to h(topic.title), topic  %></td>          
    
    <td class="td_topic_desc"> 
	  <%= render :partial => "description", :object=>topic %>
           
    </td>  
      

    <td>    
     <!-- move it to partial -->
     <%#= button_to '+1', topic_votes_path(topic) %>   
     <%= render :partial => "vote", :locals => {:topic => topic} %>
   </td>
   <%#= link_to 'Show', topic %>   

    <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
    <td><%= link_to 'Destroy', topic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
      
  
   

<br />

<%= link_to 'New topic', new_topic_path %>               
