<h1>Editing topic</h1>

<% form_for(@topic) do |f| %>  

   <%= render :partial => "form", :locals => {:f => f, :button_text => "Update"} %>     

   
<% end %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>